* {
    font-family: "Inter", sans-serif;
}


.calculator {
    margin: 100px auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 20px;
    box-shadow: 10px 10px 15px #9a9a9a;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    gap: 0px;
    box-shadow: none;
}

button {
    background-color: #7C7C7B;
    width: 50px;
    height: 45px;
    color: #EBEBEB;
    border: .5px solid #515050;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

button.toprow {
    background-color: #626261;
}

button.op, .equals{
    background-color: #FFA00A;
}

button.zero {
    width: 100px;
    border-radius: 0 0 0 10px;
}

button.toprow.clicked {
    background-color: #7C7B7B;
}

button.op.clicked, button.equals.clicked {
    background-color: #CB7D08;
}

button.op.clickedBorder {
    border: 1px solid #515050;
}

button.clicked {
    background-color: #B0B0B0;
}

button.equals {
    border-radius: 0 0 10px 0;
}

.display {
    height: 25px;
    width: 160px;
    background-color: #515150;
    color: #EBEBEB;
    text-align: right;
    font-size: 30px;
    font-weight: 200;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px 10px 0 0;
}

.footer {
    position: absolute;
    bottom: 100px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
    90% {
        transform: translateY(-5px);
    }
}

.footer a {
    color: black;
    text-decoration: none;
}   
.footer a:hover {
    border-bottom: 1px solid black;
    color: rgba(40, 40, 40, 0.849);
    animation: bounce 1s;
}